
{% load static %}

<!-- Incluye el SDK de Mercado Pago -->
<script src="https://sdk.mercadopago.com/js/v2"></script>

<!-- Contenedor para el botón -->
<div id="wallet_container"></div>


<script src="{% static 'js/carrito.js' %}"></script>
<script>
  // Public Key SANDBOX
  const mp = new MercadoPago('TEST-934611eb-fcb9-4bd2-91f2-5de74c321b6d', {
    locale: "es-CL"
  });

  // Llama a tu API para obtener la preferencia
  fetch("http://localhost:8000/api/crear_preferencia", {
    method: "POST"
  })
    .then(res => res.json())
    .then(data => {
      mp.checkout({
        preference: {
          id: data.preference_id
        },
        render: {
          container: "#wallet_container",
          label: "Pagar con Mercado Pago"
        }
      });
    });
</script>